.config
  &__preloader--invisible
    display none

  &__table
    display flex;
    flex-direction column;
    align-content space-between;

  &__row
    display flex;
    justify-content space-around;
    border 1px solid black;
    border-radius 8px;
    color black