.nav-btn
  display flex;
  justify-content center;
  margin-top 30px;

.prev,
.next
  height 20px;
  color black;
  background-color white;
  border 1px solid black;
  cursor pointer;
  margin-right 10px;
  z-index 100;