.slider {
  height: 600px;
  color: #fff;
}
.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 600px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.slider__item:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f3f66), to(#314579));
  background: linear-gradient(180deg, #2f3f66 0%, #314579 100%);
  z-index: 10;
}
.slider__item:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f4966), to(#34557c));
  background: linear-gradient(180deg, #2f4966 0%, #34557c 100%);
  z-index: 11;
}
.slider__item:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f6066), to(#327179));
  background: linear-gradient(180deg, #2f6066 0%, #327179 100%);
  z-index: 12;
}
.slider__item:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#4e2f66), to(#603285));
  background: linear-gradient(180deg, #4e2f66 0%, #603285 100%);
  z-index: 13;
}
.slider__item--active {
  opacity: 1;
  z-index: 50;
}
.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__dot {
  content: ".";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  z-index: 100;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}
.slider__dot--active {
  background-color: #fff;
}
.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.prev,
.next {
  height: 20px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 10px;
  z-index: 100;
}
.config__preloader--invisible {
  display: none;
}
.config__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.config__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #000;
  border-radius: 8px;
  color: #000;
}
