doctype html
html
head
    meta(charset = 'utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    meta(name='description', content="Тестовое задание Selectel")
    title Тестовое задание Selectel
    link(rel='stylesheet', href='css/style.css')
body
    .slider
        .slider__wrapper.js-slider-wrapper
            .slider__item.slider__item--active
            .slider__item
            .slider__item
            .slider__item
    .slider__dots.js-slider-dots
        .slider__dot.slider__dot--active
        .slider__dot
        .slider__dot
        .slider__dot
    .nav-btn
        .prev.js-btn-prev prev
        .next.js-btn-next next
    .config
        h1.config__title Доступные конфигурации
        .config__preloader
            img(src='img/loader.svg')
        .config__table

    script(src='js/slider.js')
    script(src='js/server-config.js')